{% macro categoryContainer(translations, categories, category) %}

<div class="dropdown">
    <div
        tabindex="0"
        role="button"
        class="btn w-full md:w-fit text-base-content"
    >
        {{ category }}
    </div>
    <ul
        tabindex="0"
        class="dropdown-content menu bg-base-100 rounded-box z-1 w-72 p-2 shadow-sm"
    >
        <li>
            <a onclick="location = '/'">{{ translations.categories.all }}</a>
        </li>
        {% for cat in categories %}
        {% set key = cat|lower %}
        <li>
            <a onclick="location = '/category/{{ cat }}'">
                {{ translations.categories[key] if key in translations.categories else cat }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}
