{% macro postCard(post, authorProfilePicture) %}
<a
    href="{{ url_for('post.post', slug=getSlugFromPostTitle(post[1]), urlID=post[10]) }}"
    class="post-tile"
>
    <img
        data-magnet-id="{{ post[0] }}.png"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
        alt="{{ post[1] }}"
        class="select-none"
    />
    <div class="tile-overlay">
        <span class="tile-category">{{ post[9] }}</span>
        <h2 class="tile-title">{{ post[1] }}</h2>
    </div>
</a>
{% endmacro %}
