{% macro postCard(post, authorProfilePicture) %}
{% set size_class = ['tile-small','tile-medium','tile-large']|random %}
<a
    href="{{ url_for('post.post', slug=getSlugFromPostTitle(post[1]), urlID=post[10]) }}"
    class="post-tile {{ size_class }}"
>
    <img
        data-magnet-id="{{ post[0] }}.png"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
        alt="{{ post[1] }}"
        class="select-none"
    />
    <div class="tile-title-bar">
        <h2 class="tile-title">{{ post[1] }}</h2>
    </div>
    <div class="tile-overlay">
        <h2 class="tile-title">{{ post[1] }}</h2>
        <span class="tile-category">Category: {{ post[9] }}</span>
        <span class="tile-views">Views: {{ post[6] }}</span>
    </div>
</a>
{% endmacro %}
