{% macro postCard(post, authorProfilePicture) %}
{% set w = [1,2,3]|random %}
<a
    href="{{ url_for('post.post', slug=getSlugFromPostTitle(post[1]), urlID=post[10]) }}"
    class="post-tile"
    data-post-id="{{ post[0] }}"
    data-w="{{ w }}"
>
    <img
        data-magnet-id="{{ post[0] }}.png"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
        alt="{{ post[1] }}"
        class="media select-none"
    />
    <div class="tile-overlay">
        <h2 class="tile-title">{{ post[1] }}</h2>
        <span class="tile-category">Category: {{ post[9] }}</span>
    </div>
</a>
{% endmacro %}
