{% extends 'layout.html' %} {% set admin_check = True %}
{% block head %}
<title>{{translations.adminPanelUsers.title}}</title>
{% endblock head %}
{% block body %}
<div class="text-center">
    <h1 class="my-4 text-4xl font-medium select-none">
        {{translations.adminPanelUsers.users}}
    </h1>

    {% for author in authors %}
    <div
        class="w-12/12 md:w-8/12 lg:w-7/12 xl:w-5/12 h-fit mx-px md:mx-auto py-2 px-2 my-4 border-2 rounded-md shadow-md border-gray-500/25"
    >
        <section class="mb-4 text-center">
            <p class="self-end">
                <a
                    href="/user/{{ author.address|lower }}"
                    class="hover:text-rose-500 duration-150"
                    >{{ author.address }}</a
                >
            </p>
        </section>

        <section class="flex w-full justify-between my-4">
            <div class="flex items-center">
                <i class="ti ti-article mr-1 text-xl"></i>
                <p class="hidden md:block mr-1">
                    {{ translations.posts }}:
                </p>
                <p class="font-medium">{{ author.posts }}</p>
            </div>
            <div class="flex items-center">
                <i class="ti ti-message mr-1 text-xl"></i>
                <p class="hidden md:block mr-1">
                    {{ translations.comments }}:
                </p>
                <p class="font-medium">{{ author.comments }}</p>
            </div>
        </section>

        <section class="flex w-full justify-between mt-4">
            <form method="post">
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                />
                <input type="hidden" name="address" value="{{ author.address }}" />
                <button
                    type="submit"
                    name="banButton"
                    class="flex items-center hover:text-rose-500 duration-150 font-medium select-none"
                >
                    <i class="ti ti-ban mr-1 text-xl"></i>
                    <p class="hidden md:block">Ban</p>
                </button>
            </form>

            <form method="post">
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                />
                <input type="hidden" name="address" value="{{ author.address }}" />
                <button
                    type="submit"
                    name="blacklistButton"
                    class="flex items-center hover:text-rose-500 duration-150 font-medium select-none"
                >
                    <i class="ti ti-circle-minus mr-1 text-xl"></i>
                    <p class="hidden md:block">Blacklist Content</p>
                </button>
            </form>
        </section>
    </div>
    {% endfor %}
</div>

<a href="/admin" class="hidden md:block fixed bottom-0 left-1">
    <i
        class="ti ti-arrow-back mr-1 text-xl hover:text-rose-500 duration-150"
    ></i>
</a>
{% endblock body %}
