{% extends 'layout.html' %}
{% block head %}
<title>{{ translations.createPost.title }}</title>
{% endblock head %}
{% block body %}
<div class="w-fit mx-auto mt-8">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="w-72 mx-auto text-center mb-4">
            <label class="block mt-2 mb-1">{{ translations.createPost.banner }}</label>
            <input type="file" name="postBanner" class="file-input file-input-bordered w-full" />
        </div>
        <button type="submit" class="btn btn-neutral btn-block mt-4">
            {{ translations.createPost.post }}
        </button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/ethers@5.7.2/dist/ethers.umd.min.js"></script>
    <script>
        const postContractAddress = "{{ post_contract_address }}";
        const postContractAbi = {{ post_contract_abi | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/createPost.js') }}"></script>
</div>
{% endblock body %}
