{% extends 'layout.html' %}
{% block head %}
<title>{{ title }}</title>
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:image" content="{{ banner_magnet }}" />
<meta name="keywords" content="{{ tags }}" />
<meta name="author" content="{{ author }}" />
<meta property="og:url" content="{{ blogPostUrl }}" />
<meta property="og:description" content="{{ abstract | striptags + '...' }}" />
<meta name="twitter:site" content="{{ appName }}" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ abstract | striptags + '...' }}" />
<meta name="twitter:image" content="{{ banner_magnet }}" />
<meta property="og:site_name" content="{{ appName }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/commentTree.css') }}" />
{% endblock head %}
{% block body %}
<div class="w-11/12 md:w-5/6 lg:w-7/12 xl:w-5/12 mx-auto mt-6 md:mt-10 break-words">
    <img
        data-magnet-id="{{ id }}.png"
        data-allow-download="true"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
        class="mx-auto rounded-md shadow-md select-none"
    />
    {% for vid in video_ids %}
    <video data-video-id="{{ vid }}" class="mx-auto rounded-md shadow-md mb-4"></video>
    {% endfor %}
    <h1 class="text-2xl md:text-3xl mt-3 text-rose-500 w-full text-center font-bold">{{ title }}</h1>
    <div class="flex items-center justify-center gap-2 my-4 select-none opacity-75">
        <p class="text-sm font-medium"><span id="reading-time">{{ reading_time }}</span> {{ translations.post.minRead }}</p>
    </div>
    <div class="text-center font-sm max-w-full">{{ abstract }}</div>
    <div class="divider"></div>
    <div id="post-content" class="markdown-content">{{ render_markdown(content) | safe }}</div>
    <div class="select-none mt-4">
        <div class="flex w-full justify-between my-1">
            <div class="flex items-center">
                <i class="ti ti-tags mr-1 text-2xl"></i>{{ tags.replace(',', ', ') }}
            </div>
        </div>
        <div class="flex w-full justify-between my-1">
            <h5 class="m-1 flex">
                <img class="w-7 mr-2 select-none" src="{{ getProfilePicture(author) }}" alt="{{ author }}" />
                {{ author_info }}
            </h5>
        </div>
    </div>
</div>

<div id="comment-tree" class="w-11/12 md:w-5/6 lg:w-7/12 xl:w-5/12 mx-auto mt-8">
    <div id="branch-legend" class="text-sm"></div>
    <div id="branch-tooltip" class="text-xs"></div>
</div>

<div id="comments-section" class="w-11/12 md:w-5/6 lg:w-7/12 xl:w-5/12 mx-auto mt-8">
    <h2 class="text-xl font-bold mb-4">{{ translations.comments }}</h2>
    <div id="comments"></div>
    <form id="comment-form" class="mt-4 hidden">
        <textarea id="comment-input" class="textarea textarea-bordered w-full" placeholder="Add a comment"></textarea>
        <button id="submit-comment" class="btn btn-primary mt-2" type="submit">Submit</button>
    </form>
    <p id="comment-login-prompt" class="mt-4 hidden">Please connect your wallet to comment.</p>
</div>
<script>
    const postUrlID = {{ id }};
    window.blacklistedComments = {{ blacklisted_comments | tojson }};
</script>
{% endblock body %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/postContent.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/comments.js') }}"></script>
<script src="{{ url_for('static', filename='js/post.js') }}"></script>
<script src="{{ url_for('static', filename='js/postActivity.js') }}"></script>
{% endblock scripts %}
